.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    width: 100%;

    padding: var(--padding-global);
}

.options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    gap: 1rem;
    margin-top: var(--padding-global);
    padding: var(--padding-global);
    border-radius: 0.4rem;
    /* height: 80vh; */
    width: 80%;

    /* border: solid 2px var(--c-neutral-500); */
}

.option {
    display: flex;
    flex-direction: column;

    position: relative;

    height: 100%;
    width: 100%;

    box-shadow: 0 0 1.5rem -0.3rem var(--c-neutral-100);

    transition: 100ms;
}

.option.loading {
    box-shadow: none;
}

.options .option:hover:not(.loading) {
    cursor: pointer;
    outline: solid 0.5rem var(--c-neutral-100);
    box-shadow: 0 0 1rem 0.5rem var(--c-neutral-100);
}
.options > :not(.option) {
    font-size: 2.5rem;
}

.option img {
    aspect-ratio: 1;
    width: 100%;
}

.option .name {
    position: absolute;
    bottom: var(--padding-global);

    width: 100%;
    text-align: center;
    /* transform: translateX(); */

    font-size: 1.6rem;
    font-weight: bold;
    text-shadow: 0 0 0.5rem black;
}

.option .loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1;
    width: 100%;
}
